.email-form {
  @media screen and (min-width: 1200px) {
    margin-left: 93px;
  }

  &__tittle {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;

    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $white-color;

    padding-bottom: 20px;
  }
}

.email-form__tittle {
  @media screen and (min-width: 1200px) {
    text-align: start;
  }
}

.email-form__link {
  background-color: $bcg-footer;
  width: 358px;
  height: 50px;

  @include bordered(rgba(255, 255, 255, 0.3));
  border-radius: 4px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.13;

  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);

  padding-left: 16px;

  @media screen and (max-width: 1199px) {
    width: 450px;
  }

  @media screen and (max-width: 479px) {
    width: 290px;
  }

  &:focus {
    outline: none;
    border-color: $accent-color;
  }
}

.email-form__button {
  background-color: $accent-color;

  min-width: 200px;
  height: 50px;

  padding: 10px 32px;
  border: transparent;
  border-radius: 4px;

  background-color: $accent-color;
  color: $white-color;

  @extend %font-bold;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  text-align: start;

  @media screen and (max-width: 1199px) {
    margin-top: 20px;
  }

  @media screen and (min-width: 1200px) {
    margin-left: 12px;
  }
}

.email__label {
  position: relative;

  @media screen and (min-width: 768px) {
    display: inline-flex;
    @media screen and (max-width: 1199px) {
      flex-direction: column;
      align-items: center;
    }
  }
}

.email-form__icon {
  position: absolute;
  top: 55px;
  right: 28px;
  transform: translateY(50%);

  @media screen and (min-width: 480px) {
    top: 55px;
    right: 28px;
    transform: translateY(50%);
  }
  @media screen and (min-width: 768px) {
    top: 72px;
    right: 150px;
    transform: translateY(50%);
  }
  @media screen and (min-width: 1200px) {
    top: 0;
    right: 25px;
    transform: translateY(50%);
  }
}
